.container {
    border: 2px solid black;

    display: grid;
    grid-template-columns: 100px 100px 100px;

    grid-template-rows: 100px 100px;

    row-gap: 10px;


    column-gap: 20px;
}

.container div {
    border: 1px solid red;
}